@charset "UTF-8"; /* caso haja erro de acentuação */

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --fonte-Normal: Verdana, Geneva, Tahoma, sans-serif;

    --fonte-01: 'Passion One', cursive;

    --fonte-02: 'Sriracha', cursive;
}


* {
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

html body {
    min-height: 100vh;
    background-color: rgb(99, 98, 98);

    font-family: var(--fonte-Normal);
}

header {
    background-color: black;
    color: white;

    text-align: center;

    font-size: 3.2vw;
}

header h1 {
    padding-top: 20px;
    font-family: var(--fonte-01);
    font-size: 3.5em;
}

header p {
    padding-bottom: 50px
}

header a, footer a {
    color: white;
    text-decoration: none;
    transition: .5s;
}

header a:hover, footer a:hover {
    color: rgb(228, 120, 120);
    text-decoration: underline;
}

section {
    padding: 10vh 20px;
    line-height: 2em;

    font-size: 3.5vw;

    font-family: var(--fonte-02);
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: rgba(51, 51, 51, 0.055);
    color: white;

    display: inline-block;
}

section.imagem > p {
    background-color: rgba(0, 0, 0, 0.267);
}

footer {
    background-color: black;
    color: white;

    text-align: center;

    padding: 5px;
}