@charset "UTF-8"; /* Caso haja problamas coma acentuação! */

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Sublima';
    src: url(fontes/Sublima-Light.otf) format('opentype');
}

@font-face {
    font-family: 'Android';
    src: url(fontes/idroid.otf) format('opentype');
    font-style: normal;
    font-weight: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2 {
    font-family: 'Android', Arial, Helvetica, sans-serif;

    color: #266137;
}

p {
    text-indent: 24px;
    font-size: 19px;
}

marker {
    font-weight: bolder;
    color: #229442;
}

a {
    text-decoration: none;
}
/* --------------- Menu INICIO---------- */
.menu {
    height: 250px;

    background-image: linear-gradient(#58E07E, #44AD62, #266137, #255c36);
    color: white;
}


.menu h1 {
    font-family: 'Bebas Neue', cursive, Arial, Helvetica, sans-serif;
    font-weight:  lighter;
    color: rgba(255, 255, 255, 0.877);

    padding-top: 24px;
    text-align: center;
    font-size:  3em;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.623);
}

.menu p {
    font-size: 22px;
    color: rgba(255, 255, 255, 0.637);
    padding-top: 24px;
    text-align: center;
    text-shadow: 0px 1px 5px rgb(0, 252, 34);
}
/* --------------- Menu FINAL---------- */

/* --------------- Botão Menu INICIO---------- */

.menu .botao_menu{
    display: flex;
    padding-left: 16px;
    padding-top: 65px;
}


.menu ul{
    display: flex;
    list-style: none;
    align-items: center;
}

.menu li + li {
    margin-left: 24px;
}

.menu a {
    font-weight: 100;
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}
.menu a:hover {
    color: #58E07E;
    text-decoration: underline;
}

/* --------------- Botão Menu FIM---------- */

/* --------------- CORPO DO SITE - Inicio ---------- */

.conteudo {
    height: 2540px;
    display: flex;

    background-image: linear-gradient(#58e07eb4 20%, #44AD62, #266137 70%,  #152e1c);
   
}

.conteudo .container-1 {
    width: 900px;
    height: 2510px;
    margin: 0 auto;
    box-shadow: 0 11px 20px 0px rgba(0, 0, 0, 0.507);
    
    background-color: rgb(255, 255, 255);
    border-radius: 0 0 15px 15px;

    padding: 24px 24px;
}

.conteudo h1 {
    font-size: 2em;
    padding-bottom: 16px
}

.conteudo p {
    text-align: justify;
    text-indent: 24px;
}

.conteudo h2{
    margin: 18px 0;

    background-image: linear-gradient(90deg,#c6f0d2, white);
    
}

.conteudo img {
    padding: 18px 0;

}

/* --------------- video - inicio---------- */
.conteudo .video-youtube {
    margin: 0 -25px;
    background-color: #152e1c;
}

.conteudo iframe {
    margin: 18px 75px;
    border-radius: 10px
}



/* --------------- CORPO DO SITE - Final---------- */

/* --------------- Extra - Inicio ---------- */
.conteudo h3 {
    font-family: 'Sublima', Arial, Helvetica, sans-serif;
    font-size: 15px;

    padding: 5px 10px;
    margin: 15px -10px 0px;

    border-radius: 14px 14px 0 0;
    background-color: #44AD62;
    color: white;

}
.conteudo .extra {
    width: 872px;
    height: 430px;

    
    margin: 0px -10px;
    border-radius: 0px 0px 14px 14px;

    font-family: sublima, Arial, Helvetica, sans-serif;
    box-shadow: 8px 10px 17px -9px rgba(0, 0, 0, 0.521);
    
    background-color: #44ad6275;
}

.conteudo .extra ul {
    display: flex;
    list-style: none;
}


.conteudo .extra li {
    font-weight: bolder;
    padding: 13px 90px;
    
}

.conteudo .extra abbr {
    text-decoration: none;
}

.conteudo .extra p {
    padding: 0px 16px;
}

.conteudo .extra .ultimo-paragrafo {
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 40px;
}

/* --------------- Lista extra - Final ---------- */



/* --------------- RODAPÉ---------- */

.rodape {
    height: 35px;
    text-align: center;
    padding-top: 7px;
    
    color: rgb(255, 255, 255);

    text-shadow: 0 1px 2px rgb(0, 0, 252);
    
    background-color: #266137;
    
    background-image: linear-gradient(90deg, #152e1c 20%, rgba(255, 255, 255, 0.281), #152e1c 80%);
}
.rodape p {
    text-indent: 0;
}

.rodape a {
    color: rgb(56, 231, 12);
}

.rodape marker {
    font-weight: normal;
}
